[Desktop Entry]
Name=Обновление
Exec=sh /usr/bin/Help-Buttons/update.sh
Icon=/usr/share/icons/ePapirus/128x128/system-software-update.svg
Terminal=true
Type=Application