[Desktop Entry]
Name=Выключить
Exec=sh /usr/bin/Help-Buttons/shutdown.sh
Icon=/usr/bin/Help-Buttons/Icons/shutdown.png
Terminal=false
Type=Application